@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --background: #ffffff;
  --dark: #051d40;
  --mid: #145da0;
  --light: #56aeff;
  --extraLight: #b1d4e0;
  --grey: #eeeeee;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

// NAVBAR

nav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  button {
    height: 45px;
    width: 150px;
    font-family: var(--font);
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }

  .darkButton {
    background: var(--dark);
    color: var(--grey);
  }

  img {
    width: 180px;
  }
}

// HOMEPAGE

.homeMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin: 30px;
    width: 350px;
  }

  form {
    width: 350px;

    input {
      width: 300px;
      height: 45px;
      margin: 10px;
      font-family: var(--font);
      font-size: 20px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }
  }

  button {
    width: 300px;
    height: 45px;
    margin: 15px;
    border: solid 2px var(--extraLight);
    font-weight: 400;
    font-size: 16px;
    background: var(--grey);
  }
}

// CITIES LIST PAGE

.citiesMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    input {
      width: 400px;
      margin: 30px 0 30px 10px;
      height: 35px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 4px;
    }
  }
}

.cardOuter {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 0 8px var(--extraLight);
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .imageContainer {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    img {
      display: inline-block;
      overflow: hidden;
    }
  }

  .textContainer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    h2 {
      font-weight: 600;
      font-size: 28px;
      color: var(--dark);
    }
    
    h3 {
      font-size: 20px;
      color: var(--mid);
    }
  }
}

// SINGLE CITY PAGE

.singleCityMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cityInfo {
    width: 700px;

    img {
      margin: 30px 0 10px 0;
    }

    h2 {
      font-weight: 600;
      font-size: 40px;
      color: var(--dark);
    }
    
    h3 {
      font-size: 24px;
      color: var(--mid);
    }

    p {
      text-align: left;
      margin: 10px;
    }
  }
}

.buttonSection {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    padding: 10px 20px 10px 20px;
    height: 45px;
    font-family: var(--font);
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin: 10px;
    background: var(--mid);
    color: var(--background);
  }
}

.commentsSection {
  width: 700px;
  text-align: left;

  h3 {
    font-size: 24px;
    color: var(--dark);
  }
}

.commentOuter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  text-align: center;
}

.commentBody {
  border: solid 2px var(--grey);
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left !important;
}

.commentButtons {
  width: 15%;

  button {
    width: 100%;
    background: none;
    border: solid 2px var(--grey);
    border-radius: 4px;
    height: 35px;
    margin: 0 0 5px 0;
  }
}

.userImage {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

.addComment {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.textarea {
  width: 80%;
  height: 80px;
  margin: 10px;
  padding: 30px;
}