@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --background: #ffffff;
  --dark: #051d40;
  --mid: #145da0;
  --light: #56aeff;
  --extraLight: #b1d4e0;
  --grey: #eeeeee;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

// FOOTER

footer {
  font-family: var(--font);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

  small {
    color: var(--dark);
    font-size: 20px;

    a {
      color: var(--dark);
      font-weight: 600;
    }

  }
}

// NAVBAR

nav {
  max-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  button {
    height: 45px;
    width: 150px;
    margin: 10px;
    font-family: var(--font);
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }

  .darkButton {
    background: var(--dark);
    color: var(--grey);
  }

  .navLogo {
    width: 180px;
  }

  .mobileNav {
    display: none;

    .mobileLogo {
      display: none;
    }
  }
}

// HOMEPAGE

.homeMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin: 30px;
    width: 300px;
  }

  form {
    width: 350px;

    input {
      width: 300px;
      height: 45px;
      margin: 10px;
      font-family: var(--font);
      font-size: 20px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }
  }

  button {
    width: 300px;
    height: 45px;
    margin: 15px;
    border: solid 2px var(--extraLight);
    font-weight: 400;
    font-size: 16px;
    background: var(--grey);
  }
}

// CITIES LIST PAGE

.citiesMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    input {
      width: 400px;
      margin: 30px 0 30px 10px;
      height: 35px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 4px;
    }
  }

  .cardOuter {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 8px var(--extraLight);
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .imageContainer {
      width: 80%;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      img {
        display: inline-block;
        overflow: hidden;
      }
    }
  
    .textContainer {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
  
      h2 {
        font-weight: 600;
        font-size: 28px;
        color: var(--dark);
      }
      
      h3 {
        font-size: 20px;
        color: var(--mid);
      }
    }
  }
}

// SINGLE CITY PAGE

.singleCityMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cityInfo {

    img {
      width: 60%;
      margin: 30px 0 10px 0;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      color: var(--dark);
    }
    
    h3 {
      font-size: 24px;
      color: var(--mid);
    }

    p {
      text-align: left;
      margin: 10px;
    }
  }

  .buttonSection {
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    button {
      padding: 10px;
      min-height: 45px;
      width: 150px;
      font-family: var(--font);
      font-size: 16px;
      border-radius: 4px;
      border: none;
      margin: 10px;
      background: var(--mid);
      color: var(--background);
    }
  }

  .commentsSection {
    width: 80%;
    text-align: left;
  
    h3 {
      font-size: 20px;
      color: var(--dark);
    }
  
    .commentOuter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;
      text-align: center;
  
      .commentBody {
        border: solid 2px var(--grey);
        border-radius: 10px;
        padding: 10px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left !important;
      }
    
      .commentButtons {
        width: 15%;
      
        button {
          width: 100%;
          background: none;
          border: solid 2px var(--grey);
          border-radius: 4px;
          height: 35px;
          margin: 0 0 5px 0;
        }
      }
  
      .userImage {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        overflow: hidden;
      }
      
      img {
        width: 100%;
      }
      
      .addComment {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
      
      .textarea {
        width: 80%;
        height: 80px;
        margin: 10px;
        padding: 30px;
      }
    }
  }
}

// SIGN UP

.signupMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  img {
    margin-top: 20px;
    width: 200px;
  }

  h1 {
    font-size: 30px;
    color: var(--dark);
  }

  form {
    width: 350px;

    label {
      width: 100%;
      display: block;
      margin: 10px 0 0 0;
    }

    input {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    textarea {
      width: 100%;
      height: 100px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    select {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    button {
      height: 45px;
      width: 100%;
      font-family: var(--font);
      font-size: 16px;
      border-radius: 4px;
      border: none;
      margin: 20px 0 20px 0;
    }
  }
}

// UPDATE USER PAGE

.updateUserMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  h1 {
    font-size: 30px;
  }

  .userImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px;

    img {
      width: 100%;
    }
  }

  form {
    width: 350px;

    label {
      width: 100%;
      display: block;
      margin: 10px 0 0 0;
    }

    input {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    textarea {
      width: 100%;
      height: 100px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    select {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    button {
      height: 45px;
      width: 100%;
      font-family: var(--font);
      font-size: 16px;
      border-radius: 4px;
      border: none;
      margin: 20px 0 20px 0;
    }
  }
}

// EDIT CITY PAGE

.editCityMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  
  h1 {
    font-size: 30px;
  }
  
  .cityImage {
    width: 600px;
    margin: 10px;
  
    img {
      width: 100%;
    }
  }
  
  form {
    width: 500px;
  
    label {
      width: 100%;
      display: block;
      margin: 10px 0 0 0;
    }
  
    input {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }

    textarea {
      min-height: 200px;
      width: 100%;
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }
  
    select {
      width: 100%;
      height: 35px;
      font-family: var(--font);
      font-size: 16px;
      background: none;
      border: solid 2px var(--extraLight);
      border-radius: 8px;
    }
  
    button {
      height: 45px;
      width: 100%;
      font-family: var(--font);
      font-size: 16px;
      border-radius: 4px;
      border: none;
      margin: 20px 0 20px 0;
      }
    }
  }

// ADD CITY PAGE  

  .addCityMain {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  
    h1 {
      font-size: 30px;
      margin-top: 50px;
    }
  
    form {
      width: 350px;
  
      label {
        width: 100%;
        display: block;
        margin: 10px 0 0 0;
      }
  
      input {
        width: 100%;
        height: 35px;
        font-family: var(--font);
        font-size: 16px;
        background: none;
        border: solid 2px var(--extraLight);
        border-radius: 8px;
      }

      textarea {
        min-height: 200px;
        width: 100%;
        font-size: 16px;
        background: none;
        border: solid 2px var(--extraLight);
        border-radius: 8px;
      }
  
      button {
        height: 45px;
        width: 100%;
        font-family: var(--font);
        font-size: 16px;
        border-radius: 4px;
        border: none;
        margin: 20px 0 20px 0;
      }
    }
  }

// USER LIST PAGE

.userListMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cardSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;

    .cardOuter {
      width: 300px;
      height: 300px;
      margin: 10px;
      box-shadow: 0 0 8px var(--extraLight);
      background: var(--background);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .imageContainer {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
  
        img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
      }
  
      .textContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    
        h2 {
          font-weight: 600;
          font-size: 28px;
          color: var(--dark);
        }
      }
    }
  }
}

// USER PROFILE PAGE

.userProfileMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0 20px 0;
    color: var(--dark);
  }

  h2, h3 {
    font-size: 16px;
    color: var(--dark);
  }

  h2 {
    font-weight: 600;
  }

  .userData {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userImageContainer {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .topUserSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;

    .userSectionInner {
      width: 250px;
      background: var(--grey);
      padding: 10px;
      margin: 10px;
    }
  }

  .languagesSection {
    width: 800px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--grey);
    border-radius: 4px;
    
    h2 {
      font-size: 18px;
    }
  }

  .languagesInner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button {
      height: 40px;
      padding: 10px;
      font-size: 16px;
      margin: 10px;
      background: var(--mid);
      border: none;
      color: var(--background);
      border-radius: 4px;
      border-radius: 8px;
    }
  }

  .bioSection {
    margin: 20px;
    padding: 10px;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--grey);
    border-radius: 4px;
  }

  .interestsSection {
    margin: 0 0 20px 0;
    padding: 10px;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--grey);
    border-radius: 4px;
  }
}

@media only screen and (max-width: 850px) {

  nav {  
    button {
      width: 100px;
    }

    .navLogo {
      width: 150px;
    }
  }
}

@media only screen and (max-width: 600px) {

  nav {  
    height: 80px;

    button {
      width: 80px;
      height: 40px;
      font-size: 14px;
    }
    
    .navLogo {
      width: 100px;
    }
  }
  
  .searchbar {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {

  .mobileNav {
    display: inline-block;
    width: 100%;
    
    img {
      display: inline;
      width: 150px;
    }
  }

  .navLogo {  
    display: none !important;
  }

  .citiesMain {
    input {
      width: 70%;
    }
  }
}